/* Add CSS styling here */

/* ==== ENTIRE DOCUMENT STYLES ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==== HEADER STYLES ==== */

header {
  background-color: #4682B4;
  color: white;
  padding: 5%;
}

header h1 {
  font-size: 2em;
  margin-bottom: 3%;
  text-transform: uppercase;
}

header nav {
  margin-top: 2%;
}

header nav a {
  background-color: white;
  border: 1px solid red;
  color: #4682B4;
  letter-spacing: 1.5px;
  padding: 0.5% 1.5%;
  text-decoration: none;
}

/* ==== INTRO SECTION STYLES ==== */

#intro {
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
}

#intro a {
  background-color: white;
  border: 1px solid red;
  color: #4682B4;
  letter-spacing: 1.5px;
  padding: 0.5% 1.5%;
  text-decoration: none;
}

#intro .intro-text h2 {
  font-size: 1.5em;
}

#intro .intro-text a {}

#intro .intro-text p {
  line-height: 1.4;
}

/* ==== GALLERY SECTION STYLES === */

#gallery {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

/* ==== FOOTER STYLES === */

footer {
  background-color: #4682B4;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3%;
}

footer div {
}
